@import "styles.css";
@import "flex.css";

div.flex-block li {
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
}

div img {
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 770px),
(max-width: 480px) {
    div.flex-block {
        width: 100%;
    }
}