@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); /* подключение кнопки ВК в подвале */

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    margin: 0;
}

header {
    background: #c3e4ff;
}

footer {
    background: #9fd4ff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    margin: 1em;
}

img {
    width: 100%;
    height: auto;
}

span {
    font-weight: 700;
}

aside {
    float: right;
    margin-right: 5em;
}

.blockauth {
    margin: 1em;
    background: #e9f3fb;;
    border-radius: 10px;
    padding: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Menu */
.menu li {
    flex-grow: 1;
}

.menu a {
    color: #0284cf;
    display: block;
    padding: 16px 0;
    border-radius: 8px;

}

.menu li:last-child a{
    border-right: none;
}

ul.menu {
    list-style-type: none;
}

.drop-down {
    position: relative;
}

.submenu {
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 0;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e9f3fb;
    border-radius: 8px;


    display: none;
    transition: 0.5s ease-in-out;
}

.menu li:hover .submenu {
    display: block;
    border-radius: 8px;
}

.submenu a {
    border-right: none;
    border-top: 1px solid #0493e6f5;
}

.menu li:hover {
    background: #baddfa;
    border-radius: 8px;

}

.content-center {
    text-align: center;
}

/* Шапка */

.shapkaMain {
    width: 100%;
    height: 4.5em;
    z-index:0;
}

.shapka {
    width: 100%;
    height: 4.5em;
    color: #830020;
    background: #e9f3fb;
    position: fixed;
    z-index: 9999;
}

.shapka2 {
    max-width: 1200px;
    margin: 0 auto;
}

img.logo {
    height: 90px;
    width: auto;
}

.telefon {
    padding: .8em 1em calc(.8em + 3px);
    margin: .8em 1em;
    color: #830020;
    font-weight: 700;
}

/* Кнопка Найти питомца */
a.button1 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    margin: .8em 1em;
    border-radius: 8px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
} 

a.button1:hover { 
    background: rgb(53, 167, 110); 
}

a.button1:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

/* Подвал */
.fondname {
    width: 50%;
    height: auto;
}

.podval {
    color: #830020;
    font-size: 16px;
    font-weight: 600;
}

.contacts p:first-child {
    margin-bottom: 0;
}

.contacts p:last-child {
    margin-top: 0.1em;
}

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 6px;
    margin-top: 17%;
    padding: 6px;
    color: #000;
}

.vk a:hover {
    background: #5d84ae; 
    color: #fff;
}

/* Modal */

.modal {
    position: absolute;
    left: 47%;
    background: rgb(7, 219, 247);
    border-radius: 10px;
    padding: 30px;

    transform: translate(-50%, -50%);
    transition: all 1s;
}

.modal:target {
    top: 50%;
}

.modal:not(:target) {
    top: -50%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

input[type="submit"] {
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 1em 1em 1em 0;
    color: whitesmoke;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background: rgb(53, 167, 110);
    cursor: pointer;
}

input[type="submit"]:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

form :required + span:before {
    content: "\2718";
    font-weight: bolder;
    color: red;
    margin-left: 10px;
    font-size: 20px;
}

form :required:focus:valid + span:before,
form :required:not(:focus):valid + span:before {
    content: "\2714";
    font-weight: bolder;
    color: green;
    margin-left: 10px;
    font-size: 20px;
}

/* Бургер меню */
.hamburger-menu {
    display: none;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center; 
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #c3e4ff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 915px) {
    aside {
        display: none;
    }

    .button1 {
        display: none;
    }
}

@media (max-width: 770px),
(max-width: 480px) {
    
    nav,
    .telefon,
    .button1  {
        display: none;
    }

    div.flex-xs-column{
        display: flex;
        flex-direction: column;
    }
    
    .container {
        max-width: none;
    }

    .shapka {
        max-width: 100%;
    }

    .hamburger-menu {
        display: block;
    }

    .logo {
        margin-left: 2em;
    }

    .fondname {
        width: 90%;
    }

    .contacts,
    .social,
    .social a {
        margin-top: 0;
    }
}

